:root {
  --color-texto: #ffeecc;
  --fondo-1: #15788c;
  --fondo-2: #6f1f60;
  --fondo-3: #5f4886;
  --fondo-4: #253657;
  --hover-1: black;
  --hover-2: #bc4a9b;
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.flexbox,
.grids,
.media-queries,
.modularizacion {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--color-texto);
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
  margin: 12px;
  padding: 48px;
  border-radius: 8px;
}

.flexbox {
  background-color: var(--fondo-1);
}

.grids {
  background-color: var(--fondo-2);
}

.media-queries {
  background-color: var(--fondo-3);
}

.modularizacion {
  background-color: var(--fondo-4);
}

a:hover,
.flexbox:hover,
.grids:hover,
.media-queries:hover,
.modularizacion:hover {
  color: var(--hover-1);
  background-color: var(--hover-2);
}
