/* 
1- display - flex
flex-direction - row, row-reverse, column, column-reverse
flex-wrap - nowrap, wrap
flex-flow - flex-direction y flex-wrap en una línea
*/

.container {
}

.box {
  background-color: aquamarine;
  font-size: 48px;
  font-family: "Courier New", Courier, monospace;

  height: 100px;
  width: 100px;
}

/* justify-content - EJE X -  center, flex-start (default), flex-end, space-around, space-between, space-evenly*/

/* align-items - EJE Y -  normal (default), stretch, center, flex-start, flex-end, baseline */

/* align-content - Cómo alinear los elementos cuando hay más de una línea - 
                 - stretch (default), center, flex-start, lex-end, space-between, space-around, space-evenly */
