/* display: grid;*/
/*Parte 1: grid-template-columns y grid-template-rows*/
/* Parte 2: grid-auto-columns y grid-auto-rows */

.container {
  height: 800px;
  display: grid;
  gap: 12px;
  justify-items: center;
  align-items: center;
}

.box {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-family: "Courier New", Courier, monospace;

  height: 100px;
  width: 100px;
}
